/***
		BUTTONS
					***/

.btn {
	padding: 14px;
  border-radius: 50px;
  font-size: 16px;
  transition: .1s linear;
  outline: none !important;
}

.btn-primary {
	background-color: $primaryColor;
	&:focus {
		background-color: $primaryColor;
	}
	border: none;
	color: white;
	min-width: 230px;
	text-transform: uppercase;
	&:active,
	&:hover,
	&:active:hover
	{
		background-color: $primaryHoverColor;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

.btn-secondary {
	background-color: transparent;
	color: $secondaryColor;
	&:focus {
		color: $secondaryColor;
	}
	border: 1px solid $secondaryColor;
	min-width: 160px;
	&:active,
	&:hover,
	&:active:hover
  {
		background-color: $secondaryColor;
		color: white;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
