.prefooter {
	height: 340px;
	padding-top: 65px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f7592+0,337cef+35,337cef+65,3f7592+100 */
background: rgb(63,117,146); /* Old browsers */
background: -moz-linear-gradient(top, rgba(63,117,146,1) 0%, rgba(51,124,239,1) 35%, rgba(51,124,239,1) 65%, rgba(63,117,146,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(63,117,146,1) 0%,rgba(51,124,239,1) 35%,rgba(51,124,239,1) 65%,rgba(63,117,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(63,117,146,1) 0%,rgba(51,124,239,1) 35%,rgba(51,124,239,1) 65%,rgba(63,117,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f7592', endColorstr='#3f7592',GradientType=0 ); /* IE6-9 */
	h2,
	p {
		color: $basicFontColor;
		margin: 0;
	}
	p {
		font-size: 20px;
		@include proximaLight;
		margin: 20px 0;
	}
	.floating-label {
		width: 60%;
		@media all and (max-width: 767px) {
			width: 100%;
		}
	}
	@media all and (max-width: 991px) {
		h2 {
			font-size: 34px;
		}
		p {
			font-size: 18px;
		}
	}
	@media all and (max-width: 767px) {
		height: 565px;
		padding-top: 40px;
		.pr0 {
			padding-right: 15px !important;
		}
		button {
			display: block;
			margin-left: auto !important;
			margin-right: auto;
		}
		p,h2 {
			text-align: center;
		}
		p {
			font-size: 16px;
		}
		.phone {
			position: relative;
			width: 320px;
			height: 250px;
			left: 0;
			right: 0;
			margin: auto;
			margin-top: 45px;
		}
		form {
			position: relative;
			top: 217px;
		}
	}
}

.phone {
	width: 615px;
	height: 468px;
	background-image: url('../i/phone.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
  top: -193px;
  cursor: pointer;
  @media all and (max-width: 991px) {
	  left:-155px;
  }
}