/***
	SECTION 2
				***/

.s2 {
	height: 808px;
	background-image: url('../i/s2-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	@media all and (max-width: 1200px) {
		height: 760px;
	}
	@media all and (max-width: 767px) {
		height: 680px;
		background-image: url('../i/s2-bg-xs.jpg');
	}
	h2 {
		margin-bottom: 55px;
		@media all and (max-width: 767px) {
			margin-bottom: 30px;	
		}
	}
}

.mt22 {
	@media all and (max-width: 991px) and (min-width: 768px) { 
		margin-top: 22px;
	}
}

@media all and (max-width: 767px) {
	.note-books-slide {
		//max-width: 375px;
	}
}



.note-books-item {
	height: 555px;
	padding: 10px;
	background-color: rgba(255,255,255,.6);
	cursor: pointer;
	transition: .2s linear;
	@media all and (max-width: 1200px) {
		height: 490px;
	}
	@media all and (max-width: 991px) {
		padding: 5px;
		margin: 0 -10px;
		height: 465px;
	}
	@media all and (max-width: 767px) {
		height: 470px;
		max-width: 350px;
		margin: 0 auto;
		.btn {
			position: relative;
			top: -11px;
		}
		&__header{
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(0,0,0,.5);
				z-index: 1;
				transition: .3s linear;
			}
			.swiper-slide-active &:after {
				background-color: rgba(0,0,0,.2);
			}
		}
	}
	&__body {
		text-align: center;
		h2 {
			font-size: 28px;
			color: $secondaryColor;
			padding: 25px 0 8px;
			margin: 0;
		}
		p {
			font-size: 16px;
			line-height: 1.5;
			margin-bottom: 25px;
			@include proximaLight;
			@media all and (max-width: 1200px) {
				font-size: 14px;
			}
		}
	}
	&:hover .btn {
		background-color: $secondaryColor;
		color:white;
	}
	&:hover {
		@media all and (min-width: 768px) {
			box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, .15);
		}
	}
}



@media all and (min-width: 768px) {
	.note-books.swiper-wrapper,
	.note-books-wrapper {
		overflow: visible;
	}
}


#notebooks-pagination {
	position: relative;
  bottom: 0;
  margin-top: 30px;
}