/***
	SECTION 6
				***/

.s6 {
	height: 860px;
	background-image: url('../i/s6-bg.jpg');
	background-size: cover;
	@media all and (max-width: 991px) {
		height: 930px;
	}
	@media all and (max-width: 767px) {
		height: 980px;
	}
}

.questions {
	&__item {
		position: relative;
		border:1px solid #d7d7d7;
		padding: 25px 30px 25px 65px;
		transition: .3s linear;
		cursor: pointer;
		&:hover {
			background-color: rgba(255,255,255,.4);
			
		}
	}
	&__item + &__item {
		border-top: none;
	}
	&-item {
		
		&__header {
			position: relative;
			font-size: 18px;
			color: $secondaryColor;
			@media all and (max-width: 767px) {
				line-height: 1;
				font-size: 16px;
			}
			@include proximaLight;
			&:before {
				content: '+';
				display: block;
				position: absolute;
				width: 25px;
				height: 25px;
				left: -42px;
				top:0px;
				background-color: $secondaryColor;
				border-radius: 50%;
				color: white;
		    font-size: 25px;
		    line-height: 1.1;
		    text-align: center;
			}
		}
		&__body {
			display: none;
			overflow: hidden;
			font-size: 16px;
			color:black;
			@include proximaLight;
			@media all and (max-width: 767px) { 
				font-size: 14px;
				margin-left: -40px;
				margin-right: -10px;
			}
		}
	}
	&__item--active {
		background-color: rgba(255,255,255,.8);
	}
	&__item--active &-item__body {
		padding-top: 15px;
		display: block;
	}
	&__item--active &-item__header:before {
		content: '-';
		background-color: $primaryColor;
		font-size: 26px;
		line-height: .9;
	}
}