/***
	Section 1
				***/
.s1 {
	background-image: url('../i/s1-bg.png');
	background-size: cover;
	height: 626px;
	@media all and (max-width: 991px) {
		height: 1071px;
		.floating-label + btn {
			left: -25px;
		}
	}
	@media all and (max-width: 767px) {
		background-image: url('../i/s1-bg-xs.jpg');
		height: calc(754px + 55vw);
	}
	&-content {
		&__promo {
			height: 522px;
			padding-top: 80px;
			@media all and (max-width: 991px) {
				text-align: center;
			}
			@media all and (max-width: 767px) {
				height: auto;

			}
			form {
				position: absolute;
		    bottom: 80px;
		    width: 100%;
		    .floating-label {
			    width: 50%;
		    }
		    @media all and (max-width: 767px) {
			    position: relative;
			    bottom: 0;
			    margin-top: 35px;
			    .floating-label {
				  	width: 100%;
					  max-width: 400px;
					  display: block;
					  margin: 0 auto;
			    }

				  p {
						color: white;
						font-size: 16px;
						@include proximaLight;
						line-height: 1.2;
						margin-top: 15px;
					}
				}
			}
		}
	}

	h2 {
		margin-top: 0;
		color: $basicFontColor;
		font-size: $headingFontSize;

	}

	@media all and (max-width: 767px) {
		.s1-content__promo {
			position: relative;
    	top: -20px;
			padding-top: 0;
		}
		h2 {
			font-size: 30px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

.s1-icon {
	float: left;
	text-align: center;
	margin-top: 70px;
	margin-right: 40px;
	-webkit-transition: .3s linear;
	transition: .3s linear;
	cursor: pointer;
	&:hover {
		@media all and (min-width: 768px) {
			-webkit-transform: translateY(-20px);
			        transform: translateY(-20px);
		}
	}
	@media all and (max-width: 1200px) and (min-width: 767px) {
		margin-right: 20px;
	}
	@media all and (max-width: 767px) {
		margin: 0 !important;
    margin-top: 0;
    width: 100%;
	}
	&--less-margin {
		margin-right: 30px;
		@media all and (max-width: 1200px) and (min-width: 767px) {
			margin-right: 15px;
		}
	}
	&__circle {
		display: inline-block;
		width: 70px;
		height: 70px;
		border: 1px solid $basicFontColor;
		border-radius: 50%;
		-webkit-transition: .3s linear;
		transition: .3s linear;
		font-size: 32px;
    padding: 16px;
    @media all and (max-width: 1200px) and (min-width: 767px) {
			width: 60px;
	    height: 60px;
	    padding: 14px 10px;
	    font-size: 28px;
		}
		i:before {
			-webkit-transition: .3s linear;
			transition: .3s linear;
		}
		@media all and (max-width: 768px) {
			display: block;
			float: left;
			margin-right: 15px;
		}
	}

	&:hover &__circle {
		@media all and (min-width: 768px) {
			border-color: $primaryColor;
			background-color: rgba(255,255,255,.15);
			i:before{
				color: $primaryColor;
			}
		}
	}

	&__title {
		position: relative;
		@include proximaLight;
		color: $basicFontColor;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 15px;
		&:after {
			content: '';
			display: none;
			position: absolute;
			width: 100%;
			border-bottom: 1px solid rgba(255,255,255,.2);
			bottom: 0;
			@include topDownOpaque;
		}
		@media all and (max-width: 768px) {
			text-align: left;
			color: $primaryColor;
			font-size: 18px;
			margin-top: 0;
		}
	}

	&:hover &__title:after {
		display: block;
		@media all and (max-width: 768px) {
			display: none;
		}
	}
	&__text {
		color: $basicFontColor;
		max-width: 122px;
    text-align: center;
    margin: auto;
    padding-top: 5px;
    display: none;
    @include topDownOpaque20(.3s);
    @media all and (max-width: 767px) {
	    display: block;
			text-align: left;
			max-width: 100%;
    }
	}
	&:hover &__text {
		display: block;
	}

}

.sep {
	display: block;
	width: 46px;
	height: 2px;
	background-image: url('../i/dots.svg');
	background-size: cover;
}

.s1-icons {
	display: inline-block;
	position: relative;
	@media all and (max-width: 991px) {
		left: 15px
	}
	@media all and (max-width: 767px) {
		display: block;
		left: 0;
		overflow-y: auto;
		padding: 0 30px;
		.s1-icons-inner {
			position: relative;
			// display: inline-block;
			// width: 515px;
			// left: 10px;
		}
	}
	.sep {
		position: absolute;
		top: 103px;
		@media all and (max-width: 1200px) and (min-width: 768px) {
			top: 100px;
		}
		@media all and (max-width: 767px) {
			top: 33px;
		}
		&-1 {
			left: 122px;
			@media all and (max-width: 1200px) and (min-width: 768px) {
				left: 114px;
			}
		}
		&-2 {
			left: 288px;
			@media all and (max-width: 1200px) and (min-width: 768px) {
				left: 265px;
			}
		}
		&-3 {
			left: 0;
		  right: 0;
			top: 40px;
		  margin: auto;
		  -webkit-transform: rotate(90deg);
		          transform: rotate(90deg);
		}
		&-4 {
			left: 0;
		  right: 0;
			top: 198px;
		  margin: auto;
		  -webkit-transform: rotate(90deg);
		          transform: rotate(90deg);
		}
	}
}

.s1-icon-small:before {
  position: relative;
  top: -3px;
	font-size: 26px;
}

.s1-notebook {
	position: absolute;
	top:77px;
	left:-95px;
	width: 815px;
	height: 445px;
	background-image: url('../i/notebook.svg');
	background-size: cover;
	background-repeat: no-repeat;
	@media all and (max-width: 1200px) {
		left: -155px;
	}
	@media all and (max-width: 991px ) {
		left: -35px;
    right: 0;
    margin: 0 auto;
    top: 0;
  }
  @media all and (max-width: 767px ) {
		position: relative;
    left: 0;
    right: 0;
    margin: 25px -15px 30px;
    top: -15px;
    width: 100vw;
    height: 55vw;
    background-size: contain;
    -webkit-transform: scale(.98);
            transform: scale(.98);
  }
	&__video {
		position: relative;
    left: 96px;
    top: 23px;
    width: 628px;
    height: 368px;
    background-color: black;
    @media all and (max-width: 767px ) {
		  left: 0;
		  top: 2.5vw;
	    right: 0;
	    margin: auto;
	    width: 77vw;
	    height: 45.5vw;
			iframe {
			 	width: 77vw;
	    height: 45.5vw;
			}
	  }
	}
	.mini-logo {
		position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 31px;
    width: 31px;
    height: 20px;
    background-image: url(../i/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
	}
}

.arr-top {
	position: absolute;
	display: none;
	width: 88px;
  height: 192px;
	background-image: url('../i/arr-top.svg');
	background-repeat: no-repeat;
	background-size:cover;
	background-position: -10px;
	left: -85px;
  top: 90px;
  @media all and (max-width: 1200px) {
		display: none !important;
	}
  @include fadeIn;
  &--active {
	  display: block;
  }
}

@media all and (max-width: 768px) {

	.s1-icons--mobile {
		.s1-icon {
			padding-top: 75px
		}
	}
}
