
header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 80px;
	width: 100%;
	z-index: 100;
	top: 0;
	left: 0;
	position: fixed;
	padding-top: 18px;
	@include media-breakpoint-down(lg) {
		height: auto;
		-webkit-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}
	@include media-breakpoint-down(xs) {
		padding-top: 15px;
	}

	.btn-sm {
		float: right;
	}

	&::after {
		content: '';
		width: 100%;
		position: absolute;
		height: 0;
		-webkit-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
		left: 0;
		right: 0;
		bottom: -101px;
		height: 100px;
		opacity: 0;
	}
}

.logo {
	@include media-breakpoint-down(lg) {
		width: 50px;
	}
}

header.menu--small-js {
	position: fixed;

	&::after {
		opacity: 1;
	}
}

.logo {
	img {
		@include media-breakpoint-down(xs) {
			width: 60px;
		}
	}
}


.menu-line {
	width: 100%;
	padding-bottom: 15px;
	position: relative;
	z-index: 999;

	@include media-breakpoint-down(xs) {
		padding-bottom: 14px;
	}
}

header.menu--small-js {
	.menu-line {
		border: none;
	}
}

// MacBook Pro

.pro-wrapper {
	header {
		background-color: rgba( $bg-color-dark, .95);
		&::after {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #121217), to(transparent));
			background: linear-gradient(180deg, #121217 0, transparent);
		}
	}

	.menu-line {
		border-bottom: 1px solid #313131;
		//background-color: $bg-color-dark;
	}

	header.menu--small-js {
		border-bottom: 1px solid #313131;
	}
}

// Air

.air-wrapper {
	header {
		background-color: rgba( white, .95 );
		&::after {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(rgba(255,255,255,0)));
			background: linear-gradient(180deg, #ffffff 0, rgba(255,255,255,0));
		}
	}

	.menu-line {
		border-bottom: 1px solid #d6d6d6;
		//background-color: white;
	}
	header.menu--small-js {
		border-bottom: 1px solid #d6d6d6;
	}
}
