.message {
	font-size: 13px;
  position: absolute;
  left: 15px;
  top: 45px;
}

.has-error {
	border-bottom-color: hsla(0, 77%, 38%, 0.72) !important;
}

.has-success {
	border-bottom-color: hsla(155, 77%, 38%, 0.72) !important;
}

#modal-form {
	position: relative;
	.message {
		left: 0;
	}
}
