//
.notify {
	&-wrapper {
		position: fixed;
		z-index: 2000;
	}
	&-message {
		position: relative;
		-webkit-animation: fadeIn .3s linear;
		        animation: fadeIn .3s linear;
		font-family: inherit;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 15px;
		color:white;
		margin: 10px;
		-webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
		        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25)
	}
	&-icon {
		width: 60px;
		float: left;
	}
	&-heading {
		font-weight: bold;
	}
	&-closer {
		display: block;
		position: absolute;
		right: 14px;
		top: 5px;
		font-size: 22px;
		cursor: pointer;
	}
	&-text {
		width: calc(100% - 60px);
    float: right;
	}
}

.top {
	&-left {
		top: -15px;
		left: 0;
	}
	&-right {
		top: -15px;
		right: 0;
	}
	&-center {
		top: -15px;
		left: 50%;
		right: 0;
		margin: auto;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);

	}
}

.bottom {
	&-left {
		bottom: -10px;
		left: 0;
	}
	&-right {
		bottom: -10px;
		right: 0;
	}
	&-center {
		bottom: -10px;
		left: 50%;
		right: 0;
		margin: auto;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);

		@media all and (max-width: 768px) {
			left: 0;
			right: 0;
			-webkit-transform: none;
			        transform: none;
		}
	}

}

.bg-danger {
	background-color: $brand-danger;
}

.clearfix {
	clear: both;
}

.icon-cancel {
	width: 47px;
	height: 47px;
	@include glyph( url( '../icons/cancel.svg' ) );
}

.icon-ok {
	width: 47px;
	height: 47px;
	@include glyph( url( '../icons/ok.svg' ) );
}
