// Как до нас добраться?

.route-section {
	background-image: linear-gradient(90deg,rgba(15, 50, 120, 0.1) 0,rgba(176, 116, 167, 0.1)), url("../img/route-bg.png");
	.btn-gradient {
		margin-top: 70px;
		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}
		@include media-breakpoint-down(xs) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}

.route-pic {
	position: relative;

	&__video {
		background-color: black;
		width: 74.3%;
		position: absolute;
		padding-bottom: 47.25%;
		top: 4.6%;
		left: 12.9%;
		height: 0;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.route-section {
	overflow: hidden;
	padding: 150px 0;
	background-position: center;
	background-repeat: no-repeat;

	@include media-breakpoint-down(md) {
		padding: 80px 0;
	}
	@include media-breakpoint-down(xs) {
		padding: 60px 0;
	}

	h2 {
		margin-bottom: 70px;

		@include media-breakpoint-down(xs) {
			margin-bottom: 40px;
		}
	}
}

.route {
	&__step {
		min-height: 120px;
		position: relative;
		min-height: 120px;

		@include media-breakpoint-down(xs) {
			min-height: 90px;
		}

		a {
			display: flex;
			align-items: center;
			color: white;
			// font-family: $light-font;
			font-size: 18px; 
			text-decoration: none;
			transition: .3s linear;
			@include media-breakpoint-down(xs) {
				font-size: 16px;
			}

			&::before {
				display: block;
				left: 0;
				width: 50px;
				height: 50px;
				color: #151d2d;
				background-color: $second-font-color;
				border-radius: 50%;
				text-align: center;
				font-size: 28px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 20px;
				transition: .3s linear;
				flex-shrink: 0;

				@include media-breakpoint-down(xs) {
					width: 30px;
					height: 30px;
					font-size: 18px;
				}
			}

			&:hover,
			&.active {
				color: #4dabfa;
				transform: translateX(20px);
				&:before {
					color: #151d2d;
					background-color: white;
				}
			}
		}
		&:hover,
		&--active {
			.sep-vert {
				transform: rotate(25deg);
				transform-origin: bottom;
				&--transform {
					transform: rotate(-25deg) rotate(25deg) translateX(20px);
				}
			}
			a {
				color: #4dabfa;
				transform: translateX(20px);
				&:before {
					color: #151d2d;
					background-color: white;
				}
			}

		}

	}
	&__step--active {
		.sep-vert--transform {
			transform: rotate(-25deg) rotate(25deg) translateX(20px) !important;
		}
	}
	&__step:nth-child(1) {
		a::before {
			content: '1';
		}
	}
	&__step:nth-child(2) {
		a::before {
			content: '2';
		}
	}
	&__step:nth-child(3) {
		a::before {
			content: '3';
		}
	}
	&__step:nth-child(4) {
		a::before {
			content: '4';
		}
	}
	&__step:nth-child(5) {
		a::before {
			content: '5';
		}
	}

}



ul {
	.route__step:last-child {
		min-height: auto;
	}
}

.sep-vert {
	background-color: $second-font-color;
	width: 2px;
	height: 32px;
	display: block;
	position: absolute;
	top: 60%;
	left: 25px;
	transition: .3s linear;

	&--transform {
		transform: rotate(-25deg);
		transform-origin:top;
	}

	@include media-breakpoint-down(xs) {
		left: 14px;
		height: 25px;
		top: 63%;
	}
}

.air-wrapper {
	.route-section {
		background-image: none;
	}
	.route-pic__video {
		top: 6%;
	}
	.route__step a {
		color: #333;
		&:hover {
			color: $link-color;
		}
	}
	.route__step a::before {
		background-color: #f4f4f4;
		color: #888888;
	}
	.sep-vert {
		background-color: #d6d6d6;
	}
	.route__step--active a:before, .route__step:hover a:before {
		background-color: #111;
		color: white;
	}
}


