html, body {
	font-family: $primary-font;
	font-size: 16px;
	line-height: 1.2;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
}


.air-wrapper {
	color: #333333;
	h2 {
		color: #111111;
	}
}

.second-color {
	color: $second-font-color;
}

a {
	-webkit-transition: 0.1s linear;
	transition: 0.1s linear;

	&:hover {
		text-decoration: none;
	}
}

a:focus, button:focus, input:focus {
	outline: 3px solid rgba(131,192,253,0.5);
	outline-offset: 1px;
	text-decoration: none;
}

button:focus,
.btn-alt:focus,
.btn-gradient:focus,
.header-button:focus,
.toggler-site__link:focus {
	-webkit-box-shadow: 0 0 0 3px rgba(131,192,253,0.5);
	        box-shadow: 0 0 0 3px rgba(131,192,253,0.5);
	outline: none;
	text-decoration: none;
}

h1 {
	font-size: 16px;
	margin-bottom: 0;
	margin-left: 15px;
	line-height: 1.2;

}

h2 {
	font-size: 50px;
	font-family: $bold-font;
	@include media-breakpoint-down(xs) {
		font-size: 33px;
	}
}

.h2--big {
	font-size: 56px;
	font-family: $bold-font;
	line-height: 1.2;
	@include media-breakpoint-down(xs) {
		font-size: 33px;
	}
}

h3 {
	font-size: 34px;
	font-family: $bold-font;
	@include media-breakpoint-down(xs) {
		font-size: 22px;
	}
}

h4 {
	font-family: $light-font;
	font-size: 21px;
	line-height: 29px;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
		line-height: 23px;
	}
}

p {
	font-size: 17px;
	line-height: 26px;
	@include media-breakpoint-down(xs) {
		font-size: 16px;
		line-height: 24px;
	}
}


// MacBook Pro
.pro-wrapper {
	h1 {color: #fefefe;}
	h2 {
		color: white;
		@media all and (max-height: 768px) {
			font-size: 35px;
			line-height: 1;
		}
	}
	h3 {
		@media all and (max-height: 768px) {
			font-size: 20px !important;
			line-height: .5;
		}
	}
	p {color: $second-font-color;}
}
