$primary-font: 'SFUIDisplay-Regular', Arial, sans-serif;
$bold-font: 'SFUIDisplay-Semibold', Arial, sans-serif;
$light-font: 'SFUIDisplay-Light', Arial, sans-serif;
$link-color: #4dabfa;

$bg-color-dark: #121217;
$bg-color-dark-alt: #17171d;
$bg-color-light: #ffffff;

$second-font-color: #63636e;
