
.quiz-bg{
	padding-top: 65px;
	padding-bottom: 65px;
	height: 100%;
	background-image: url("../i/bg-quiz.png");
	h2 {
		margin-top: 0;
		margin-bottom: 50px;
	}
}

.quiz-step__header{
  padding-bottom: 4px;
	position: relative;

  .quiz-title-1{
    font-size: 28px;
    @include proximaLight;
    color: $basicFontColor;
    .title-left-1{
      text-align: left;
			display: inline-block;
    }
    img {
      position: relative;
      z-index: 2;
			left: 295px;
      }
    .number-step-1{
			display: inline-block;
			left: 230px;
			position: relative;
			z-index: 3;
      span {
        font-size: 24px;
      }
    }
  }
		a{
			position: absolute;
    	left: -45px;
    	top: 15px;
		}
    .quiz-title-2{
      font-size: 28px;
      @include proximaLight;
      color: #fff;
      .button-back{
        display: block;
        position: absolute;
        left: 160px;
        top: 835px;
      }
      .title-left-2{
        display:inline-block;
				text-align: left;
      }
			img {
	      position: relative;
	      z-index: 2;
				left: 500px;
	      }
      .number-step-2{
        display: inline-block;
				text-align:right;
				position: relative;
	      z-index: 2;
        left: 435px;
        span {
          font-size: 24px;
        }
      }
    }
    .quiz-title-3{
      display:block;
      text-align: center;
      img{
        display: inline-block;
        text-align: left;
      }
      .title3-right{
        display: inline-block;
        font-size: 28px;
        color: $basicFontColor;
        vertical-align: middle;
        margin-left: 10px;
        @include proximaLight;
      }
    }
    .quiz-title-4{
      text-align: center;
      font-size: 28px;
      @include proximaLight;
      color: $basicFontColor;
			padding-bottom: 10px;
    }
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}


.quiz {
  //background-color: #3772d9;
	padding: 35px 65px;
	border-radius: 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(63,117,146) 0%, rgb(57,115,205) 25%, rgb(51,124,239) 100%), url(../i/quiz-bg.png);
	background-image: -webkit-linear-gradient( 90deg, rgb(63,117,146) 0%, rgb(57,115,205) 25%, rgb(51,124,239) 100%), url(../i/quiz-bg.png);
	background-image: -ms-linear-gradient( 90deg, rgb(63,117,146) 0%, rgb(57,115,205) 25%, rgb(51,124,239) 100%), url(../i/quiz-bg.png);
	box-shadow: 0px 30px 40px 0px rgba(63, 117, 146, 0.3);
	background-blend-mode: color;

  background-size: 100%;
  border-radius: 20px;
  &-wrapper {
	  width: 945px;
	  margin-left: auto;
	  margin-right: auto;
  }

  &-step {
	  height: 320px;
	  display: none;
	  &--active {
		  display: block;
	  }
  }
}

.quiz-step__body{
	.quiz-dropdown-1, .quiz-dropdown-2{
		position: relative;
		padding-bottom: 90px;
		.quiz-floating-label {
	  	top: 30px !important;
			.quiz-dropdown{
	      height: 50px !important;
	      width: 388px !important;
	    	 cursor: pointer;
			 }
	  }
	}
  .body-title-3{
    text-align: center;
    padding-top: 20px;
		padding-bottom: 45px;
    color: $basicFontColor;
    font-size: 32px;
		line-height: 1.2;
    @include proximaLight;
    span {
      @include proximaRegular;
      color: $primaryColor;
    }
		a{
			position:relative;
			img{
	      margin-left: 10px;
	      vertical-align: baseline;
			}
				.info-mess{
					display: none;
				}
				&:hover{
					.info-mess{
					display:block !important;
					position: absolute;
					bottom: 40px;
					right: -97px;
					width: 220px;
					height: 82px;
					background-image: url('../i/info.png');
					z-index: 5;
					@include proximaRegular;
					font-size: 14px;
					color: $basicFontColor;
			    }
				}
		}
  }
  .body-title-top-4{
		padding-top:90px;
    display:block;
    text-align: center;
    img{
      display: inline-block;
      text-align: left;
    }
    .title3-right{
      display: inline-block;
      font-size: 28px;
      color: #fff;
      vertical-align: middle;
      margin-left: 10px;
      @include proximaLight;
    }
  }
  .body-title-bottom-4{
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    padding-bottom: 20px;
    text-align: center;
    padding-top: 10px;
    @include proximaLight;
    font-size: 18px;
    color: $basicFontColor;
  }
	.body-5{
		position: relative;
			.row{
				margin: 0;
			}
	}
	.first-dropdown, .third-dropdown, .second-dropdown, .fourth-dropdown{
		position: relative !important;
		min-width: 388px !important;
		padding-left: 0;
		padding-right: 0;
		left: 0;
		right: 0;
		top: 30px;
		bottom: 0;
	}
	.second-dropdown, .fourth-dropdown{
		left: -155px !important;
	}
	.fourth-dropdown, .third-dropdown{
		top: 60px !important;
	}

  .text-body-5{
		position: relative;
		a{
			img{
				position: absolute;
				left: -30px;
				top: 15px;
			}
		}
    color: $basicFontColor;
    @include proximaLight;
    .list-5{
        font-size: 20px;
    }
		#list-item-1{
			padding-top: 15px;
		}
    #list-item-1, #list-item-2{
      padding-bottom: 15px;
    }
    #list-item-3{
      padding-bottom: 45px;
    }

      a{
        font-size: 18px;
        color: inherit;
				border-bottom: 1px solid hsla(0,0%,100%,.2);
        &:link{
          text-decoration: none;
        }
      }
    }
    .image-laptop{
      img{
        margin-right: 58px;
        border: 10px solid hsla(0,0%,100%,.2);
        border-radius: 20px;
      }
    }
}

.quiz-step__footer{
	.butt-2{
		margin-left: 287px !important;
		vertical-align: text-bottom;
	}
  .butt-1, .butt-2{
		display: inline-block;
		margin-left: 620px;
		a{
				min-width: 200px !important;
			img{
				position: relative;
				left: 5px;
				vertical-align: middle;
			}
		}


  }
  .footer-text-2{
		display: inline-block;
    text-align: left;
    a {
      color: #fff;
      font-size: 18px;
      line-height: 0.5;
      @include proximaLight;
			border-bottom: 1px solid hsla(0,0%,100%,.2);
			&:hover{
				text-decoration: none;
			}
    }
  }
  .footer-text-3{
    display: block;
    .text-3-left{
      display: inline-block;
      text-align: left;
      a {
        @include proximaLight;
        color: $basicFontColor;
        font-size: 18px;
				border-bottom: 1px solid hsla(0,0%,100%,.2);
        &:link{
          text-decoration: none;
        }
      }
    }
    .butt-3{
      display: inline-block;
			margin-left: 424px;
    	vertical-align: middle;
			a{
				min-width: 190px;
			}
    }
  }
  .footer-text-4{
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 32px;
    @include proximaLight;
    span {
      @include proximaRegular;
      color: $primaryColor;
    }
    img{
      margin-left: 10px;
      vertical-align: baseline;
    }
  }
  .butt-4{
    text-align: center;
    padding-top: 25px;
		a{
			min-width: 190px;
		}
  }
}
