/***
	Typography
					***/

$basicFont: 'Proxima Nova', Arial;
$basicFontColor: white;

$autoFontColor: black;

$headingFont: 'AG', Arial;
$headingFontSize: 48px;

$primaryColor: #ffba00;
$primaryHoverColor:#ffa200;
$secondaryColor:#337cef;

$headingColor: #3f7592;

/***
	Font Styles Mixins
										***/

@mixin proximaRegular {
	font-family: $basicFont;
	font-weight: 400;
}

@mixin proximaLight{
	font-family: $basicFont;
	font-weight: 300;
}

body,
html,
p
{
	@include proximaRegular;
	-webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6
{
	font-family: $headingFont;
}

h2 {
	font-size: $headingFontSize;
	color: $headingColor;
}

.text-lg {
	font-size: 18px;
}

.list-secondary {
	counter-reset: list-counter;
	@include proximaLight;
	line-height: 1;
	&__header {
		display: block;
		color: $secondaryColor;
		font-size: 24px;
		margin-bottom: 4px;
	}
	&__sub-header {
		display: block;
		color: $secondaryColor;
		font-size: 16px;
		margin-bottom: 2px;
	}
	&__body {
		line-height: 1.2;
	}
	li{
		position: relative;
		list-style-type: none;
		margin-bottom: 15px;
		&:before {
			counter-increment: list-counter;
			content: counter(list-counter) ")";
			font-size: 24px;
			color: $secondaryColor;
			position: absolute;
			left: -25px;

		}
	}
}
